apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: backend
          image: altrupets-backend:dev
          # Dev local: force usage of image built inside Minikube runtime.
          imagePullPolicy: Never
