apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: backend
          image: localhost/altrupets-backend:dev
          imagePullPolicy: Never
          envFrom:
            - secretRef:
                name: backend-secret
          env:
            - name: NODE_ENV
              value: "development"
      imagePullSecrets:
        - name: harbor-registry-secret
