apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: altrupets-dev
  namespace: argocd
spec:
  description: AltruPets development project (Minikube)
  sourceRepos:
    - '*'
  destinations:
    - namespace: altrupets-dev
      server: https://kubernetes.default.svc
    - namespace: argocd
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
    - group: ''
      kind: Namespace
  namespaceResourceWhitelist:
    - group: apps
      kind: Deployment
    - group: ''
      kind: Service
    - group: ''
      kind: ConfigMap
    - group: ''
      kind: Secret
