---
# MegaLinter GitHub Action configuration file
# More info at https://megalinter.io
name: MegaLinter

on:
  # Trigger mega-linter at every push. Use with caution when apps are
  # large and have many files.
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

env: # Global variables used by MegaLinter
  # Apply fixes automatically
  APPLY_FIXES: all
  # Set to true to fail CI if there is any error
  VALIDATE_ALL_CODEBASE: false

jobs:
  megalinter:
    name: MegaLinter
    runs-on: ubuntu-latest
    steps:
      # Git Checkout
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0 # If true, all history for all branches and tags is fetched.

      # MegaLinter
      - name: MegaLinter
        id: ml
        # You can use any FLAVOR of MegaLinter
        uses: oxsecurity/megalinter-full@v8
        env:
          # All available variables are described in documentation
          # https://megalinter.io/latest/config-vars/
          VALIDATE_ALL_CODEBASE: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Upload MegaLinter artifacts
      - name: Archive production artifacts
        if: success() || failure()
        uses: actions/checkout@v4
      - name: Upload MegaLinter reports
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
            mega-linter.log
